@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Shop.Application.Services.Products.Commands.EditProduct;
@model EditProduct
@{
    ViewData["Title"] = "ویرایش محصول";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*ویرایش محصول محصول*@
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title-wrap bar-warning">
                <div class="card-title">
                    ویرایش محصول
                    <a href="~/Admin/Products/Index" class="btn btn-primary btn_left_side">بازگشت &nbsp;<i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-8 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <input type="hidden" id="ProductId" value="@Model.Id" />
                            <label for="basicInput">نام محصول </label>
                            <input type="text" class="form-control" id="Name" value="@Model.Name">
                        </fieldset>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label for="basicInput"> برند </label>
                            <input type="text" class="form-control" id="Brand" value="@Model.Brand">
                        </fieldset>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label for="basicInput">دسته بندی</label>
                            <select class="form-control" id="CategoryId" name="CategoryId" asp-items="@ViewBag.Categories">
                                @if (@Model.CategoryId != null)
                                {
                                    <option selected="selected" value="@Model.CategoryId">
                                        @Model.Category
                                    </option>
                                }
                                else
                                {
                                    <option selected="selected">
                                        دسته بندی را انتخاب کنید
                                    </option>
                                }
                            </select>
                        </fieldset>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label for="basicInput"> قیمت</label>
                            <input type="number" class="form-control" id="Price" value="@Model.Price">
                        </fieldset>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label for="basicInput"> تعداد موجودی</label>
                            <input type="number" class="form-control" id="Inventory" value="@Model.Inventory">
                        </fieldset>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label for="basicInput">در سایت نمایش داده شود؟ </label>
                            <input type="checkbox" class="form-control" id="Displayed" name="@Model.Displayed" checked="@Model.Displayed">
                        </fieldset>
                    </div>

                    <div class="col-xl-8 col-lg-6 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label for="basicInput">اضافه کردن تصویر جدید</label>
                            <input type="file" multiple class="form-control" accept="image/*" id="MoreImages">
                        </fieldset>
                    </div>
                    <hr />
                    @*TODO Gallery Image*@
                    @*<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <label for="basicInput">تصاویر محصول</label>
                        @foreach (var item in Model.Images)
                        {
                            <figure class="col-xl-4 col-lg-4 col-sm-6 col-12">
                                <a target="_blank" href="~/@item.Src">
                                    <img width="200" height="200" class="img-thumbnail img-fluid" src="~/@item.Src">
                                </a>
                                <button class="btn btn-danger col-md-8" onclick="DeletePicture('@item.Id')"><i class="fa fa-trash-o fa-lg"></i> &nbsp; حذف تصویر</button>
                            </figure>
                        }
                    </div>
                    <hr />*@

                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <label for="basicInput"> توضیحات</label>
                            <textarea id="Description" class="form-control " rows="5">@Model.Description</textarea>
                        </fieldset>
                    </div>
                    <hr /><hr />

                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <br />
                            <a onclick="EditProduct()" class="btn btn-warning col-md-12"><i class="fa fa-edit"></i>&nbsp; ویرایش محصول</a>
                        </fieldset>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*ویرایش تصاویر و ویژگی های محصول*@
<div class="card mb-4">
    <div class="card-header">
        <div class="card-title-wrap bar-success">
            <div class="card-title">تصاویر و ویژگی های محصول</div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-block">
            <div class="row">
                <div class="col-4 col-sm-4">
                    <ul class="no-list-style pr-0 text-right fa-bold">
                        @foreach (var item in Model.Features)
                        {
                            <li class="mb-2">
                                <span class="text-bold-500 primary"><a><i class="icon-frame font-small-3"></i> @item.DisplayName :</a></span>
                                <span class="display-block overflow-hidden"> @item.Value</span>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-8 col-sm-8 text-center">
                    @foreach (var item in Model.Images)
                    {
                        <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                            <a target="_blank" href="~/@item.Src">
                                <img width="200" height="200" class="img-thumbnail img-fluid" src="~/@item.Src">
                            </a>
                        </figure>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <link href="~/Sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert/sweetalert2.min.js"></script>

    <script>

        function EditProduct() {
            swal.fire({
                title: 'ویرایش محصول',
                text: "آیا میخواهید محصول را ویرایش نمائید؟",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله، ویرایش شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var Name = $("#Name").val();
                    var Id = $("#ProductId").val();
                    var CategoryId = $("#CategoryId").val();
                    var Brand = $("#Brand").val();
                    var Price = $("#Price").val();
                    var Inventory = $("#Inventory").val();
                    var Displayed = $('#Displayed').is(':checked');
                    var Description = $("#Description").val();

                    var data = new FormData();
                    data.append("Id", Id);
                    data.append("Name", Name);
                    data.append("Brand", Brand);
                    data.append("Price", Price);
                    data.append("Inventory", Inventory);
                    data.append("Displayed", Displayed);
                    data.append("CategoryId", CategoryId);
                    data.append("Description", Description);
                    //Receiving the photos selected by the user and placing the photos in the data variable
                    var productImages = document.getElementById("MoreImages");
                    if (productImages.files.length > 0) {
                        for (var i = 0; i < productImages.files.length; i++) {
                            data.append('Images-' + i, productImages.files[i]);
                        }
                    }

                    $.ajax({
                        contentType: false,
                        processData: false,
                        type: "POST",
                        url: "Edit",
                        data: data,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {
                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        },
                        error: function (request, status, error) {
                            swal.fire(
                                'هشدار!',
                                request.responseText,
                                'warning'
                            );
                        }
                    });
                }
            })
        }

    </script>
}