@addTagHelper *, LazZiya.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Shop.Common;
@using static Shop.Common.Utility;
@using Shop.Application.Services.Orders.Queries;
@model OrdersForAdminDto
@{
    ViewData["Title"] = "لیست سفارشات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست سفارشات</h4>
                                <span class="card-text">سفارشات فروشگاه اینترتی</span>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <form method="get" class="form-search">
                                                <fieldset class="form-group">
                                                    <input type="search" name="searchkey" class="header-search-input" placeholder="برای جستجو سریع کد سفارش را وارد نمائید . . .">
                                                    <button class="btn btn-search action-btns" type="submit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="شماره سفارش: activate to sort column descending" style="width: 222px;">شماره سفارش</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="تاریخ ثبت سفارش: activate to sort column descending" style="width: 222px;">تاریخ ثبت سفارش</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="شماره فاکتور: activate to sort column descending" style="width: 222px;">شماره فاکتور</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="وضعیت سفارش: activate to sort column descending" style="width: 222px;">وضعیت سفارش</th>
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;"> جزئیات بیشتر سفارش</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Orders)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">@item.OrderId</td>
                                                        <td>@Utility.KhorshidiDate(@item.InsetTime)</td>
                                                        <td>@item.PaymentId</td>
                                                        <td>
                                                            @{
                                                                string state = EnumHelpers<OrderState>.GetDisplayValue(item.OrderState);
                                                            }
                                                            <text>@state</text>
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-info"> کاربر ثبت کننده سفارش</a>
                                                            <a class="btn btn-danger">مشاهده فاکتور </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <paging total-records="Model.RowCount"
                                            page-no="Model.CurrentPage"
                                            page-size="Model.PageSize"
                                            show-prev-next="true"
                                            show-total-pages="true"
                                            show-total-records="true"
                                            show-page-size-nav="true"
                                            show-first-numbered-page="true"
                                            show-last-numbered-page="true"
                                            gap-size="2"
                                            page-size-dropdown-items="10-20-30-50-100-500"
                                            max-displayed-pages="3"
                                            query-string-key-page-no="Page"
                                            query-string-key-page-size="PageSize"
                                            query-string-value="@@(Request.QueryString.Value)"
                                            page-size-nav-block-size="10"
                                            page-size-nav-max-items="3"
                                            page-size-nav-on-change="get"
                                            page-size-nav-form-method="this.form.submit();"
                                            class="row"
                                            class-paging-control-div="col"
                                            class-info-div="col"
                                            class-page-size-div="col"
                                            class-paging-control="pagination"
                                            class-active-page="active"
                                            class-disabled-jumping-button="active"
                                            class-total-pages="badge badge-secondary"
                                            class-total-records="badge badge-info"
                                            text-page-size="موارد در هر برگه:"
                                            text-total-pages="برگه"
                                            text-total-records="محصول"
                                            text-first="&laquo;"
                                            text-last="&raquo;"
                                            text-previous="&lsaquo;"
                                            text-next="&rsaquo;"
                                            sr-text-first="نسخین"
                                            sr-text-last="آخرین"
                                            sr-text-previous="پیشین"
                                            sr-text-next="پسین">
                                    </paging>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>