@addTagHelper *, LazZiya.TagHelpers
@using Shop.Common;
@using Shop.Infrastructure.Dtos.BlogDtos;
@model ResultBlogForSiteListDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageNumber = 1;
    int pageSize = 20;
    int.TryParse(Context.Request.Query["Page"], out pageNumber);
    int.TryParse(Context.Request.Query["PageSize"], out pageSize);
}

<div class="col-lg-12 col-md-12 col-xs-12 pl">
    <div class="shop-archive-content mt-3 d-block">
        <div class="archive-header">
            <h2 class="archive-header-title">فروشگاه مقالات ( @Model.RowCount پست )</h2>
        </div>
        <div class="product-items">
            <div class="tab-content" id="articles">
                <div class="row">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-lg-4 col-md-4 col-xs-12 col-xs-12 order-1 d-block mb-3">
                            <section class="product-box product product-type-simple" style="padding:15px 15px 15px;">
                                <span style="float:right;">
                                    <i class="fa fa-list-alt"></i> دسته:
                                    <a title="@item.CategoryText" href="#">@item.CategoryText</a> </span>
                                <span style="float:left;"> <i class="fa fa-eye"></i> بازدید: @item.ViewCount </span>
                                <div class="thumb">
                                    <a title="@item.Title" href="~/Blog/Detail/@item.Slug" class="d-block">
                                        <img src="~/@item.PictureSrc">
                                    </a>
                                </div>
                                <div class="title">
                                    <a title="@item.Title" href="~/Blog/Detail/@item.Slug">@item.Title</a>
                                </div>
                                <p>
                                    @item.Description.Substring(0, 100)
                                </p>
                                <div>
                                    <span style="float:right;">
                                        <i class="fa fa-clock-o"></i>
                                        @{
                                            string InsertDate = Utility.KhorshidiJustDate(item.InsertDate);
                                        }
                                        تاریخ انتشار: @InsertDate
                                    </span>
                                    <span style="float:left;"> <i class="fa fa-user"></i> نویسنده: <a title="@item.UserName" href="#">@item.UserName</a> </span>
                                </div>
                            </section>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="pagination-product">
            <nav aria-label="Page navigation example">
                <div class="text-center">
                    <paging total-records="@Model.RowCount"
                            page-no="@pageNumber == 0 ? 1 : pageNumber"
                            page-size="@pageSize == 0 ? 20: pageSize"
                            show-prev-next="true"
                            show-total-pages="true"
                            show-total-records="true"
                            show-page-size-nav="true"
                            show-first-numbered-page="true"
                            show-last-numbered-page="true"
                            gap-size="2"
                            max-displayed-pages="4"
                            query-string-key-page-no="Page"
                            query-string-key-page-size="PageSize"
                            query-string-value="@@(Request.QueryString.Value)"
                            page-size-dropdown-items="10-20-30-50-100-500"
                            page-size-nav-block-size="10"
                            page-size-nav-max-items="4"
                            page-size-nav-on-change="get"
                            page-size-nav-form-method="this.form.submit();"
                            class="row"
                            class-paging-control-div="col"
                            class-info-div="col"
                            class-page-size-div="col"
                            class-paging-control="pagination"
                            class-active-page="active"
                            class-disabled-jumping-button="active"
                            class-total-pages="badge badge-primary"
                            class-total-records="badge badge-info"
                            text-page-size="موارد در هر برگه:"
                            text-total-pages="برگه"
                            text-total-records="مقاله"
                            text-first="&laquo;"
                            text-last="&raquo;"
                            text-previous="&lsaquo;"
                            text-next="&rsaquo;"
                            sr-text-first="نخستین"
                            sr-text-last="آخرین"
                            sr-text-previous="پیشین"
                            sr-text-next="پسین">
                    </paging>
                </div>
            </nav>
        </div>
    </div>
</div>